body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.recursiveContainer {
    width: fit-content;
    border: 1px solid black;
    border-radius: 24px;
    padding: 10px;
    margin: 20px;  
    font-size: 16px;

    &.empty {
        color: red;
    }
}

.expandablePropertyName {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 40px;
    color: blue;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer; 
}

.openSign {
    font-size: 20px;
}

// TODO change colors
.property {
    &.number {
        color: green;
    }

    &.boolean {
        color: coral;

    }

    &.string {
        color: deeppink;
    }
}




